/*============================================================================
  McDaniel Oct-2018:

  Usage: Rover styling variable declarations.
         These are public to allscss files in this folder
  ============================================================================*/
  $rover-font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  $rover-background-color: white;    /* not currently in use */
