/*============================================================================
  McDaniel Oct-2018:

  Usage: this compiles to base.css which is linked to template base.html

  @import 'rover-variables';
  ============================================================================*/

/*-----------------------------------------------------------------------------
McDaniel Oct-2018: various UI requests by Dani on 16-Oct-2018.
https://www.evernote.com/Home.action#n=1dd60724-1ec5-4652-8a07-a83953eef7ae&s=s309&ses=4&sh=2&sds=2&

make AM header consistent with

note: Migrated from header.html
*-----------------------------------------------------------------------------*/

h1.branding {
  padding: 0px;
  margin: 0px;
}

header.primary.cms-hdr {
  height:100%;
}
rice_logo_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.rice_logo img {
  height: 42px;
}
.wrapper-header .branding {
  padding: 0px !important;
  display: flex !important;
  align-items: center !important;
}

.wrapper-header .branding a img {
  min-height: 40px !important;
  max-height: 40px !important;
  width: 100%;
}

.wrapper-header .cms-hdr {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cms-hdr .wrapper-l {
  display: flex;
  flex: 0 1 auto;
  width: 100% !important;
}

.cms-hdr .hdr-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  border-right: 1px solid #e5e5e5;
}

form.rerun-course #field-course-number {
  display: none;
}

h2.page-header-super.course-original {
  display: none;
}

h2.course-original .course-original-title, .course-original-title-id {
  color: #7f7f7f;
  font-size: 16px !important;
  font-weight: 300;
  margin-left: 20px
}

.wrapper-header .info-course {
  width: 100% !important;
  margin-right: 0px !important;
  border-right: none !important;
  padding: 0px !important;
}

.wrapper-header .info-course .course-link .course-title {
  display: inline !important;
}

.is-signedin.course .wrapper-header .nav-course {
  width: 100% !important;
  margin: 0px;
  padding: 0px;
}

.wrapper.wrapper-view .wrapper-header.wrapper {
  height: 75px !important;
}


.nav-account-tour span {
  user-select: none;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------
McDaniel Nov-2018:

Jim's list:
4) Settings window - Hide
	Course Pacing, Course Details, Introducing Your Course, Course Intro Video

  ??? : and rephrase requirements to be about homework not course work.

*-----------------------------------------------------------------------------*/
.wrapper-content.wrapper .content .content-primary .settings-details .group-settings.pacing,
.wrapper-content.wrapper .content .content-primary .settings-details .group-settings.course_details {
  display: none !important;
}

.wrapper-sock, .wrapper-footer {
  background-color: white;
}

/*-----------------------------------------------------------------------------
McDaniel Nov-2018:

Jim's list:
5) Grading - Clear the Aside for now.
*-----------------------------------------------------------------------------*/
.wrapper-content.wrapper .content aside.content-supplementary {
  display: none !important;
}
.wrapper-content.wrapper .content article.content-primary {
  width: 100% !important;
}


/*-----------------------------------------------------------------------------
McDaniel Nov-2018:

Jim's list:
7) Outline - Change to Assignments. Restyle so it doesn't look like edX.
*-----------------------------------------------------------------------------*/
// drop shadow for all sections
.outline-item.outline-subsection {
  box-shadow: 1px 1px 3px 1px #c8c8c8 !important;
  margin-bottom: 20px;    // increase from 10px
}

// Left border bars for published section
.outline-item.outline-subsection.is-live {
  border-left-color: #77AF42 !important;   // OpenStax Green
}

// Left border bars for unpublished section
.outline-item.outline-subsection.has-warnings {

}

/*-----------------------------------------------------------------------------
JVR - Jan2019:

Styling the course section managment page (aka CMS home)
*-----------------------------------------------------------------------------*/


.new-library-button {
  display: none;
}

aside.content-supplementary {
  display: none;
}

article.content-primary {
  width: 100% !important;
}

li.libraries-tab {
  display: none !important;
}

ul.list-templates {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  width: 100%;
}
@media screen and (max-width: 992px) {
  ul.list-courses {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  ul.list-courses {
    grid-template-columns: repeat(2, 1fr);
  }
}


ul.list-courses li.template-item a.book-block {
  width: initial;
}

.wrapper-creationrights {
  margin-top: 20px;
}

.template-item {
  display:flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  width: auto;
}

.book-block {
  display: block;
  height: 100%;
  width: 100%;
  grid-auto-flow: column;
  grid-column-gap: 0.7rem;
}

.list-templates .course-title {
  display: none;
}

.template-item ul.item-actions.course-actions li.action-view {
  display: none !important;
}

.template-item .course-metadata.rover-template {
  display: none !important;
}

.template-item .book-cover {
  width: 100%;
  height: 100%;
  display: block;
  background-size: 100%;
}

.template-item ul.item-actions.course-actions {
  width: initial;
  text-align: center;
}

.template-item .book-block img {
  max-height: 200px;
}

h2.my-course-sections-title {
  margin-top: 20px;
  font-size: 14px;
}


/*-----------------------------------------------------------------------------
JVR - Jan2019:

Styling the tours
*-----------------------------------------------------------------------------*/

div.hopscotch-bubble * {
  list-style-type: initial;
}

/*-----------------------------------------------------------------------------
JVR - Feb2019:

Hiding noise in the SCHEDULE & DETAILS page
*-----------------------------------------------------------------------------*/
.group-settings.marketing {
  display: none;
}

.group-settings.requirements {
  display: none;
}

.note-promotion ul.list-actions {
  display: none;
}

.course-enrollment-url {
  display: flex;
}

i.copy-course-url {
  font-size: 24px;
  margin-left: 5px;
  cursor: pointer;
}
i.copy-course-url:hover {
  font-size: 24px;
  margin-left: 5px;
  color: rgb(244,118,65);
}
textarea.link-courseURL {
  resize: none;
  overflow-x: auto !important;
  height: 55px !important;
}
/*-----------------------------------------------------------------------------
JVR - Feb2019:

Hiding noise in the Grading page
*-----------------------------------------------------------------------------*/
.settings-grading .actions {
  display: none;
}

.settings-grading div#field-course-grading-assignment-droppable {
  display: none;
}

.settings-grading div#field-course-grading-assignment-gradeweight {
  display: none;
}

.settings-grading div#field-course-grading-assignment-name {
  display: none;
}

.settings-grading div#field-course-grading-assignment-shortname {
  display: none;
}

/*-----------------------------------------------------------------------------
JVR - Mar2019:

Try Rover Banner
*-----------------------------------------------------------------------------*/

.try_me {
  height: 150px;
  background: #ffcc62;
  position: relative;
  overflow: hidden;
}

.try_rover {
  position: absolute;
  height: 150px;
  width: 150px;
  right: 0px;
}

.try_copy {
  position: absolute;
  color: white;
  right: 150px;
  left: 75px;
  bottom: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2.try_headline {
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 20px;
}

.try_close {
  position: absolute;
  font-size: 32px;
  left: 10px;
  top: 10px;
  cursor: pointer;
  color: #283064;
}

.try_close:hover {
  color: white;
}
