<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
%>

<%namespace name='static' file='../static_content.html'/>


      <style>
        #rover-footer {
          background-color: white;
          margin-top: 100px;
        }
        .flex-container {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-content: stretch;
        }

        .flex-container > div {
          margin: 10px;
          text-align: center;
          height: 43px;
        }

        #openstax-footer-logo {
          height: 43px;
        }
        #riceu-footer-logo {
          height: 43px;
        }
        #openedx-footer-logo {
          height: 43px;
        }
      </style>

        <footer id="rover-footer">
          <div class="flex-container">
            <div>
              ## mcdaniel jul-2019: moved openstax logo to top-left of header.
              ##<a href="https://openstax.org/" target="_blank">
              ##  <img id="openstax-footer-logo" src="${static.url("images/openstax-logo-horizontal.svg")}" alt="Openstax logo"/>
              ##</a>
            </div>
            <div>
              ## mcdaniel jul-2019: rice logo was already duplicated. removing.
              ##<a href="http://www.rice.edu/" target="_blank">
              ##  <img id="riceu-footer-logo" class="logo" src="${static.url("images/rice-logo-am.jpg")}" alt="Rice University logo"/>
              ##</a>
            </div>
            <div>
              <a href="http://open.edx.org" title="${_("Powered by Open edX")}">
                <img id="openedx-footer-logo" alt="${_("Powered by Open edX")}" src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png">
              </a>
            </div>
          </div>
        </footer>
