// Sample red theme to demonstrate SASS overrides

// Theme colors
//
// Note: define colors needed by your theme first

// Theme fonts
// McDaniel: don't need this ... i think?
//$font-family-sans-serif: cursive;


// Theme colors
//
// Note: define colors needed by your theme first
/*
Primary colors
======================================
OpenStax Green:		#77AF42
OpenStax Orange:	#F47641
OpenStax Gray:		#5E6062
OpenStax Yellow:	#F4D019
OpenStax Blue:		#002469		<------ Primary theme color

Hover colors
=======================================
OpenStax Green:   #0C9372
OpenStax Red:		  #C22032
OpenStax Gray:		#9A9A9B
OpenStax Gold:		#FDBD3E
OpenStax Light Blue:	#0DC0DC	<------ Secondary theme color

*/

// Define the primary colors
$openstax-green: #77AF42;
$openstax-orange: #F47641;
$openstax-gray: #5E6062;
$openstax-yellow: #F4D019;
$openstax-blue: #002469;


// Define the hover colors
$openstax-green-hover: #0C9372;
$openstax-red-hover: #C22032;
$openstax-gray-hover: #9A9A9B;
$openstax-gold-hover: #FDBD3E;
$openstax-lightblue: #0DC0DC;

// Define Openstax action button styles
$openstax-btn-primary: #F47641;
$openstax-btn-primary-hover-active: #F47641;
$openstax-btn-primary-dark-hover: #F47641;


// Bootstrap theme colors from $theme-colors
                // McDaniel Nov-2018: want to try a dark neutral charcoal color instead of Rover blue.
$primary: #666; //$openstax-blue;
$secondary: $openstax-lightblue;

/*
$primary:       $blue !default;
$secondary:     $gray-800 !default;
$inverse:       $white !default;
$disabled:      $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$purchase:      $green !default;
$lightest:      $gray-100 !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;
$darker:        $gray-900 !default;
$darkest:       $black !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  primary: $primary,
  secondary: $secondary,
  inverse: $inverse,
  disabled: $disabled,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  purchase: $purchase,
  lightest: $lightest,
  light: $light,
  dark: $dark,
  darker: $darker,
  darkest: $darkest
), $theme-colors);
*/


// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
