## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

% if uses_bootstrap:
  <div class="container-fluid wrapper-footer">
    <footer>
      <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
          ## Please leave this link and use one of the logos provided
          ## The OpenEdX link may be hidden when this view is served
          ## through an API to partner sites (such as marketing sites or blogs),
          ## which are not technically powered by Open edX.
          % if not hide_openedx_link:
            <div class="footer-about-openedx">
              <p>
                <a href="${footer['openedx_link']['url']}">
                  <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
                </a>
              </p>
            </div>
          % endif
        </div>
      </div>
    </footer>
  </div>
% else:
<style>
  #rover-footer {
    background-color: white;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
  }

  .flex-container > div {
    margin: 10px;
    text-align: center;
  }

  #openstax-footer-logo {
    height: 43px;
  }
  #riceu-footer-logo {
    height: 43px;
  }
  #openedx-footer-logo {
  }
</style>

  <footer id="rover-footer">
    <div class="flex-container">
      <div>
        ## mcdaniel jul-2019: moved openstax logo to top-left of header.
        ##<a href="https://openstax.org/" target="_blank">
        ##  <img id="openstax-footer-logo" src="${static.url("images/openstax-logo-horizontal.svg")}" alt="Openstax logo"/>
        ##</a>
      </div>
      <div>
        ## mcdaniel jul-2019: rice logo was already duplicated. removing.
        ##<a href="http://www.rice.edu/" target="_blank">
        ##  <img id="riceu-footer-logo" class="logo" src="${static.url("images/rice-logo-lms.jpg")}" alt="Rice University logo"/>
        ##</a>
      </div>
      <div>
        <a href="${footer['openedx_link']['url']}">
          <img id="openedx-footer-logo" src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
        </a>
      </div>
    </div>
  </footer>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
