<%page expression_filter="h"/>
<%! from openedx.core.djangolib.markup import HTML %>
%if unit_title:
<h2 class="hd hd-2 unit-title">${unit_title}</h2>
% endif

% if show_bookmark_button:
<%include file='bookmark_button.html' args="bookmark_id=bookmark_id, is_bookmarked=bookmarked"/>
% endif

<!-- McDaniel Oct-20178: moved custom inline styling to css/rover.css in custom theme. -->
<%block name="headextra">
  <!-- FIX NOTE: why won't this work using static.url()? -->
  <link type="text/css" rel="stylesheet" href="/static/osh/css/rover/vert-module.css">
</%block>

<div class="vert-mod">
% for idx, item in enumerate(items):
  <div class="vert vert-${idx}" data-id="${item['id']}">
    ${HTML(item['content'])}
  </div>
% endfor
</div>
